extends layout

block content
    div.text-center.alert.alert-danger
        h2
            | #{error.status} #{message}
        a(href='/')
            | Return home
    pre.alert.alert-light #{error.stack}
