extends layout

block append styles
    link(rel='stylesheet' href='/stylesheets/login.css')

block content
    div.wrapper.text-center
        form.form-signin(method='POST')
            h1.h2.form-signin-heading Login
            p.lead
                | Account email and password
            input.form-control.text-center(type='text' name='logemail' placeholder='Email Address' required='' autofocus='')
            input.form-control.text-center(type='password' name='logpassword' placeholder='Password' required='')
            label.checkbox
                input#rememberMe(type='checkbox' value='remember-me' name='rememberMe')
                | &nbsp; Remember me
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
            a.btn.btn-block(href='/users/join')
                i.fa.fa-question-circle
                | &nbsp;
                | I don't have an account already
