nav(class='navbar navbar-expand-md navbar-dark fixed-top bg-dark' id='nav-topbar')
    a(class='navbar-brand' href='/')
        i(class='fa fa-map-marker' aria-hidden='true')
        | &nbsp; The Place Tube
    button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')
    div#navbarCollapse(class='collapse navbar-collapse')
        ul(class='navbar-nav mr-auto')
        ul(class='navbar-nav')
            if userId && user
                li(class='nav-item dropdown')
                    a#usermenu.nav-link.dropdown-toggle.unselectable(
                    href='/users/profile/' + user.username
                    )&attributes({
                      'data-toggle': 'dropdown',
                      'aria-haspopup': 'true',
                      'aria-expanded': 'false'
                    })
                        i(class='fa fa-user' aria-hidden='true')
                        | &nbsp; #{user.username}
                    div(class='dropdown-menu dropdown-menu-right')&attributes({'aria-labelledby': 'usermenu'})
                        a.dropdown-item(href='/videos/add')
                            i.fa.fa-share.fa-fw.mr-2
                            | Share a video
                        div.dropdown-divider
                        a.dropdown-item(href='/users/profile/' + user.username)
                            i.fa.fa-user.fa-fw.mr-2
                            | View my profile
                        a.dropdown-item(href='/users/profile/' + user.username + '/edit')
                            i.fa.fa-edit.fa-fw.mr-2
                            | Edit my account
                        div.dropdown-divider
                        a(class='dropdown-item' href='/users/logout')
                            i.fa.fa-sign-out.fa-fw.mr-2(aria-hidden='true')
                            | Logout
            else
                div(class='btn-toolbar')
                    a(href='/users/login' class='btn btn-sm') Login
                    a(href='/users/join' class='btn btn-success btn-sm')
                        i(class='fa fa-sign-in' aria-hidden='true')
                        | &nbsp; Join the club
