<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/openiconic/png/map-marker-2x.png" sizes="16x16" type="image/png">
<link rel="icon" href="/openiconic/png/map-marker-4x.png" sizes="32x32" type="image/png">
<link rel="icon" href="/openiconic/svg/map-marker.svg" sizes="any" type="image/svg+xml">
<title>Dronemap <%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/> -->
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<link rel='stylesheet' href='/stylesheets/style.css'/>