div#alert.alert.alert-warning.fixed-top.col-sm-6(role="alert")
    strong.alert-heading.mr-2
    span.alert-message
    button(type="button" class="close" aria-label="Close" onclick='hideAlert()')
        span(aria-hidden="true") &times;