extends layout

block content
    div(class='jumbotron')
        div(class='container')
            div(class='row')
                div(class='col-md-7')
                    div#globalmap
                div(class='col-md-5 text-center text-lg-left')
                    h1(class='display-3') DroneMap
                    p Explore the world like a drone, or share your drone videos to the community
                    p
                        a(class='btn btn-primary btn-lg' href='#') Discover&nbsp;
                            i(class='fa fa-globe' aria-hidden='true')
                        | &nbsp;
                        a(class='btn btn-success btn-lg' href='/users/join') Share&nbsp;
                            i(class='fa fa-video-camera' aria-hidden='true')

    div(class='container')
        h2 Community videos
        br
        div(class='row')
            div(class='col-md-4')
                div.embed-responsive.embed-responsive-16by9
                    youtube-embed(embed="nHjrmzXCVkE" class='embed-responsive-item')

            div(class='col-md-8')
                h3 Rencontre avec un requin bouledogue
                h5
                    i(class='fa fa-map-marker' aria-label='place')
                    | &nbsp;Lagon de l'Ermitage, île de la Réunion
                p  Un baigneur va à la rencontre d'un requin bouledogue dans le lagon de l'ermitage
                p
                    a(class='btn btn-secondary' href='#' role='button') View details &raquo;

block append scripts
    script.
      var globalmap = L.map('globalmap', {
        center: [0, 0],
        zoom: 1,
        maxBounds: [[-90, -180], [90, 180]]
      });
      L.tileLayer(
          'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZHJvbmVtYXBpbyIsImEiOiJjajZ0a2U3OGcwczZ6MnJtc2p4Y3F6YjE0In0.kz6URZ6nVfb7dWGE3w_OBA',
          {
            maxZoom: 15,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
          }).addTo(globalmap);

      var marker = L.marker([51.5, -0.09]).addTo(globalmap);
      marker.on('click', function() {
        alert('open link');
      })
      L.marker([10, 30]).addTo(globalmap);