doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(property="og:title" content="The Place Tube")
        meta(property="og:type" content=(video ? "video" : "website"))
        meta(property="og:description" content="Geolocated video search service")
        meta(property="og:url" content="https://theplacetube.com")
        meta(property="og:image" content=(video ? "https://img.youtube.com/vi/" + video.youtubeId + "/default.jpg" : "https://theplacetube.com/og-image.png"))
        meta(property="og:locale" content="en")

        link(rel="icon" href="/favicon.ico")
        link(rel="icon" href="/favicon.png" sizes="32x32" type="image/png")
        link(rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml")

        if video
            meta(property="og:video" content="https://www.youtube.com/watch?v=" + video.youtubeId)
        block styles
            link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
            link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" data-require="fontawesome@*")
            link(rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin="")
            link(rel="stylesheet" href="/leaflet/leaflet.css")
            link(rel="stylesheet" href="/stylesheets/style.css")

        title The Place Tube #{title}
    body
        include includes/navbar.pug
        main.fill
            block content
        footer.fixed-bottom
            include includes/footer.pug
        block scripts
            script(src="/js/jquery.min.js")
            script(src="/js/umd/popper.min.js")
            script(src="/bootstrap/dist/js/bootstrap.min.js")
            script(src="/leaflet/leaflet.js")
            script(src="/leaflet-makimarkers/Leaflet.MakiMarkers.js")
            script(src="/moment/min/moment.min.js")
            // Tracking with Google Analytics
            script(async src="https://www.googletagmanager.com/gtag/js?id=UA-108243890-1")
            script.
              window.dataLayer = window.dataLayer || [];
              function gtag() {dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-108243890-1');
