extends layout

block content
    div(class="container")
        form(method="post" enctype="multipart/form-data")
            label(for="username") Username
            input#username(name="username" placeholder="Choose your username" required="" value="" + profile.username)
            label(for="email") Email
            input#email(name="email" placeholder="Enter you email" required="" value="" + profile.email)
            label(for="place") Main place
            input#place(name="place" placeholder="Enter a location" value="" + profile.location)
            label(for="picture") Avatar
            if (profile.avatar)
                img(src="/public/uploads/" + profile._id)
            input#picture(type="file" name="picture")
            input(type="submit")