extends layout
include mixins/videocard

block append styles
    link(rel='stylesheet' href='/stylesheets/profile.css')

block content
    div.jumbotron
        div.container.text-center
            h1(class="display-3")= profile.username
            h2(class="display-5")
                i.fa.fa-map-marker.mr-1
                | #{profile.place}
            div.d-flex.justify-content-center
                if videos
                    div#usermap
    if videos
        div.container
            h2 Uploaded videos
            br
            div.card-deck
                each video in videos
                    +videocard(video)

block append scripts
    script.
      var map = L.map('usermap', {
        center: [0, 0],
        zoom: 2,
        maxBounds: [[-90, -180], [90, 180]]
      });
      var markers = [];
      L.tileLayer(
          'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZHJvbmVtYXBpbyIsImEiOiJjajZ0a2U3OGcwczZ6MnJtc2p4Y3F6YjE0In0.kz6URZ6nVfb7dWGE3w_OBA',
          {
            maxZoom: 15,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
          }).addTo(map);

      $(".card").each(function() {
        var marker = L.marker(
            [$(this).attr('data-latitude'), $(this).attr('data-longitude')],
            {title: $(this).attr('data-title')}
        ).addTo(map);
        // TODO marker.onclick(fn)
        markers.push(marker);
      });