body {
    background: #eee url("https://api.mapbox.com/styles/v1/dronemapio/cj6tustmf0hmq2spebipvj2lm/static/10.563429,36.901412,1.20,0.00,0.00/1200x800?access_token=pk.eyJ1IjoiZHJvbmVtYXBpbyIsImEiOiJjajZ0a2U3OGcwczZ6MnJtc2p4Y3F6YjE0In0.kz6URZ6nVfb7dWGE3w_OBA") !important;
}

.form-join {
    max-width: 800px;
    padding: 15px 35px 15px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-join .form-join-heading {
    margin-bottom: 20px;
}

.form-join .checkbox {
    margin: 10px;
}

.form-join .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-join .form-control:focus {
    z-index: 2;
}

.form-join .form-group {
    margin-bottom: 0.8rem;
}

.form-join .btn {
    white-space: normal;
}