@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kaushan+Script');

#nav-topbar {
    background-color: black;
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
}

html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Indie Flower', cursive;
}

body {
    padding-top: 3.5rem;
}

main {
    box-sizing: border-box;
    padding-bottom: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}

.wrapper {
    overflow: auto;
    padding: 20px;
    max-height: 100%;
    margin-top: 0;
}

.spacer {
    height: 40px;
    clear: both;
}

.fill {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

input[type=number] {
    line-height: normal;
}

#navigator {
    border: 1px solid #ccc;
    background-color: white;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
}

#leftPanel, #rightPanel {
    max-height: 100%;
}

#rightPanel {
    background-color: rgba(238, 238, 238, 0.6);
}

.jumbotron {
    background-color: white;
}

#nav-topbar:after {
    bottom: -5px;
    box-shadow: inset 0 4px 8px -3px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: opacity 0.4s;
    width: 100%;
    will-change: opacity;
    z-index: 2050;
}

#map {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#player {
    overflow-y: auto;
    z-index: 1;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
}

#player-video {
    width: 100%;
    min-height: 50%;
}

#player-video iframe {
    width: 100%;
    height: 100%;
}

#player-meta {
    padding: 15px;
}

#player-headbar {
    background-color: #eeeeee;
    opacity: 0.7;
    position: absolute;
    z-index: 2;
    right: 0;
}

#player-headbar:hover {
    opacity: 1;
}

#player-headbar button {
    padding: 5px;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

#player-scroll-handler {
    z-index: 10;
    position: sticky;
    top: 0;
    height: 0;
    display: none;
    text-align: center;
}

#player-scroll-handler > a {
    opacity: 0.85;
}

#player-scroll-handler > a:hover {
    opacity: 1;
}

#videolist {
    height: 100%;
}

#videolist-topbar {
    background-color: rgb(238, 238, 238);
    height: 82px;
    width: 100%;
    position: absolute;
    padding: 5px;
    z-index: 2;
}

#videolist-container {
    padding-top: 82px;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#videolist-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    justify-content: flex-start;
    align-items: self-start;
    flex-shrink: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#videolist-list img {
    height: 56px;
    width: 75px;
    background: white url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==) center center no-repeat;
}

#videolist-pagination {
    width: 100%;
}

#videolist-pagination .pagination {
    margin-bottom: 0.5em;
    margin-top: 0.5rem;
}

#backtomap, #backtolist {
    position: absolute;
    top: 0;
    z-index: 100;
    right: 10px;
    font-size: 1.4rem;
    cursor: pointer;
    opacity: 0.7;
}

#backtomap:hover, #backtolist:hover {
    opacity: 1 !important;
}

a.media.list-group-item {
    /*text-decoration: none;*/
    /*color: inherit;*/
    display: flex;
    padding: 0.3rem 0.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.videolist-title {
    display: block;
    margin: 0 0 4px 0;
    height: 2rem;
    overflow: hidden;
    font-size: 0.9rem;
    line-height: 1rem;
    font-family: Roboto, Arial, sans-serif;
}

a.media.video.videolist-media.list-group-item.list-group-item-warning .videolist-title {
    font-weight: 600;
}

.videolist-status {
    color: hsl(0, 0%, 53.3%);
    font-size: 0.8rem;
    text-align: center;
    width: 40px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    height: 56px;
}

.videolist-footer {
    display: block;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    max-height: 1rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 1rem;
    text-transform: none;
    margin-bottom: 0;
}

.videolist-media {
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
}

a.video-link {
    color: #555555;
}

a.video-link:hover {
    text-decoration: none;
    color: #111111;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img#profileAvatar {
    width: 96px;
    height: 96px;
}

.premiumvid .badge {
    color: white;
}

#place {
    text-overflow: ellipsis;
    margin-top: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    width: 50%;
    max-width: 300px;
    padding: 0 11px 0 13px;
    border-radius: 0;
    font-size: 1.2rem;
    font-family: 'Indie Flower', cursive;
}

#place:focus {
    border-color: #4d90fe;
}

#category-select {
    margin-bottom: 20px;
    height: auto;
    font-size: 0.9rem;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, .5);
}

#search-params-q:focus {
    border-color: #4d90fe;
    box-shadow: none;
}

#sort-group .btn {
    margin-bottom: 0;
    text-transform: capitalize;
}

#searchBtn:active {
    box-shadow: none;
}

#geolocate {
    margin: 10px 0 10px 10px;
    height: 32px;
    border-radius: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#geolocate:focus {
    box-shadow: 0 0 0 .1rem rgba(134, 142, 150, .5);
}

#geolocate:active {
    box-shadow: none;
}

#searchIcon {
    outline: 0;
}

#alert {
    display: none;
    margin: auto;
    border-radius: 0;
    opacity: 0.9;
    width: 50%;
    text-align: center;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 500ms ease-in-out;
    opacity: 1;
}

#search-presets-dropdown .dropdown-item:hover {
    font-weight: bold;
}

#sort-group label:not(.active) i.fa-sort-desc {
    display: none;
}

#sort-group label.active i.fa-sort-desc {
    display: inline-block;
}
