/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
footer {
    margin-top: 20px;
    padding-top: 10px;
}
#globalmap {
	height: 400px;
	width: 100%;
    box-sizing: content-box;
}
#nav-topbar {
	opacity: 0.9;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
youtube-embed {
    display: block;
}