option(value='' selected) All categories
option(value='1') Film & Animation
option(value='2') Autos & Vehicles
option(value='10') Music
option(value='15') Pets & Animals
option(value='17') Sports
option(value='18') Short Movies
option(value='19') Travel & Events
option(value='20') Gaming
option(value='21') Videoblogging
option(value='22') People & Blogs
option(value='23') Comedy
option(value='24') Entertainment
option(value='25') News & Politics
option(value='26') Howto & Style
option(value='27') Education
option(value='28') Science & Technology
option(value='29') Nonprofits & Activism
option(value='30') Movies
option(value='31') Anime/Animation
option(value='32') Action/Adventure
option(value='33') Classics
option(value='34') Comedy
option(value='35') Documentary
option(value='36') Drama
option(value='37') Family
option(value='38') Foreign
option(value='39') Horror
option(value='40') Sci-Fi/Fantasy
option(value='41') Thriller
option(value='42') Shorts
option(value='43') Shows
option(value='44') Trailers