h1.lead
    | Explore the world
form#search
    div#search-main.input-group
        span.input-group-btn
            button#geolocate.btn.btn-outline-secondary(type='button' title='Get my position' aria-label='Geolocation')
                i.fa.fa-map-marker.fa-fw(aria-hidden='true')
        input#place.form-control(name='search' type='search' value=place data-json=geocode placeholder='Search for the place to be...' aria-label='Search a place')
        span.input-group-btn
            button#paramsBtn.btn.btn-outline-primary(type='button' data-toggle="modal" data-target="#search-params" title="Search options" aria-label='Search options')
                i#paramsIcon.fa.fa-fw.fa-cog(aria-hidden='true')
